<div class="container text-center text-success">
  <h1>We News</h1>
</div>

<div class="container">
  <div>
    <h3>Latest News</h3>
  </div>
  <div>
    <% @articles.each do |article| %>
      <% unless article.archived? %>
        <div class="panel">
          <div class="panel-heading">
            <h1><%= link_to article.title, article %></h1>
            <div>
              <p>Published at <%= article.created_at %> </p>
            </div>
          </div>
        </div>
    <% end %>
  <% end %>
</div>


<%= link_to "New Article", new_article_path %>

<!--
<div class="panel panel-primary panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
</div>
-->